.App {
}

.content {
  background-color: #132C33;
  color: #D8E3E7;
}

.prim-text {
  color: #D8E3E7;
}

.sec-text {
  color: #51C4D3;
}

.tert-text {
  color: #126E82;
}

.prim-bg {
  background-color: #132C33;
}

.sec-bg {
  background-color: #126E82;
}

.tert-bg {
  background-color: #51C4D3;
}

.portrait {
  border-radius: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
